bottleneck==1.5.0
browser-cookie3==0.20.1
dotenv==0.9.9
email-validator==2.2.0
fastapi==0.115.14
httptools==0.6.4
jaraco.collections==5.1.0
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-openai==0.3.27
numexpr==2.11.0
pip-chill==1.0.3
streamlit-autorefresh==1.0.1
tiktokapi==7.1.0
tomli==2.0.1
watchfiles==1.1.0
webencodings==0.5.1
websockets==15.0.1